.container {
  padding: 1rem;
  margin: 2rem auto;
}

#generate-css {
  margin-bottom: 1rem;
  display: inline-block;
}

@media (min-width: 1536px) {
  :root {
    .container {
      max-width: 1200px;
    }
  }
}
