main {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  gap: 1rem;
}

main > h1 {
  grid-column: 1 / -1;
}

main > .icon {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  justify-content: center;
  width: 10rem;

  input {
    justify-self: end;
    margin-inline-end: 0;
  }

  .wi,
  label {
    justify-self: center;
  }

  .wi {
    font-size: 3rem;
  }

  label {
    text-align: center;
  }
}

#generate-css {
  grid-column: 1 / -1;
  max-width: 20rem;
  width: 100%;
}

#output-code {
  padding-bottom: 0;

  .header-code {
    display: flex;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;

    #copy-code {
      cursor: pointer;
    }
  }

  pre {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
